<button class="btn btn-primary my-2" (click)="_router.navigate(['/users'])">HOME</button>
<form [formGroup]="form">
    <p>Edit the Player</p>
    <div class="mb-3">
        <label for="name" class="form-label">
            Name of the Player
        </label>
        <input id="name" type="text" class="form-control" formControlName="name" placeholder="Nomber of the player">
        <button class="btn btn-primary mt-2" (click)="createDeck()">Edit decks</button>
    </div>
    <div class="decks" formArrayName="decks" *ngFor="let deck of decks; let i = index">
        <form [formGroupName]="i" class="row g-3">
            <div class="col-auto">
                <label for="name"></label>
                <input type="text" id="name" placeholder="Enter deck name" formControlName="name" class="form-control">
            </div>
            <div class="col-auto">
                <label for="cards"></label>
                <input type="text" id="cards" placeholder="Enter deck number" formControlName="cards" class="form-control">
            </div>
        </form>
    </div>
</form>

<button class="btn btn-primary mt-2" (click)="updatePlayer()">Submit</button>
