<button class="btn btn-primary" (click)="_router.navigate(['users/add'])">Add a new Player!</button>
<input [formControl]="searcher" type="text" class="form-control mt-2" >

<div class="players" *ngIf="players$ | async as players">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Number</th>
                <th scope="col">Decks</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{player.name}}</td>
                <td>
                    <li *ngFor="let deck of player.decks">{{deck.name}}- {{deck.cards}} cards</li>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="editPlayer(player)">Edit</button>
                    <button class="btn btn-danger ms-2" (click)="deletePlayer(player)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
